{% extends "layout.html" %}
	{% block title %}Calendar{% endblock %}
	{% block menutabs %}
 	<li><a href="{{ url_for('home.home') }}">Home</a></li>
	<li><a href="{{ url_for('members.members') }}">Family</a></li>
    <li><a href="{{ url_for('messages.messages') }}">Messages</a></li>
	<li><a href="{{ url_for('pictures.pictures') }}">Albums</a></li>
	<li class="active"><a href="{{ url_for('calendar.calendar') }}">Calendar</a></li>
	{% endblock %}

{% block body %}
<div class="row">
<div class="col-xs-8">
<iframe src="https://www.google.com/calendar/embed?title=Upcoming%20Events&amp;showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23E3E9FF&amp;ctz=America%2FNew_York" style=" border-width:0 " width="100%" height="550" frameborder="0" scrolling="no"></iframe>
</div>

<div class="col-xs-4 right-column">
	<div class="row">
		<div class="col-xs-12 text-center palette-peter-river">
		<p></p>
			<img class="profpic" src="/static/images/users/{{ g.user.handle }}.jpg">
		</div>
	</div>
<div class="row">
	<div class="col-xs-12 text-center palette-peter-river">
		<h6>{{ g.user.first_name }} {{ g.user.last_name }}</h6>
		<small>{{ g.user.handle }}</small>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 text-center palette-belize-hole">
		<div class="row">
			<div class="col-xs-6">
				Events: {{ post_count }}
			</div>
			<div class="col-xs-6">
				Family: {{ user_count }}
			</div>
		</div>
	</div>
</div>
<p>
</div>
{% endblock %}
